no# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Mac
.DS_Store

# Prisma
apps/api/prisma/migrations/

# Coverage
coverage/

# IDE
.vscode/